{
  "port": 5004,
  "secure_port": 5005,
  "client_domain": "https://node.dosa.northwestern.edu",
  "env" : "local",
  "secured": false,
  "cert_key": "/path/filename.key",
  "cert_file": "/path/to/cert/bundled.crt",
  "servers": {
    "checksix": {
      "apps": [
        "nuhelp"
      ],
      "key": "changeme"
    }
  }
}